<!-- HEADER -->
<%- include('./header.ejs'); -%>
<!-- END HEADER -->

<!-- CREATE NEW USER -->
<div>
  <a type="button" class="btn btn-secondary btnNewUser" method="GET" href="/">
    <i class="fa-solid fa-angles-left"></i>
      All User
  </a>
</div>

<div class="formCreateUser">
  <div class="titleNewUser">Update User</div>
  <div class="description">
    <small id="emailHelp" class="form-text text-muted descNewUser">Use the below form to update an user</small>
  </div>

  <!-- NOTE: html form just only have GET and POST method -->
  <!-- So here we need add a (expressjs) middleware - method override and then method will be PUT in server -->
  <!-- Get more in expressjs documents (key-words : middleware, method override) -->
  <form action="http://localhost:3000/api/user/update/<%= user._id %>?_method=PUT" method="POST" onsubmit="update_user_done()">
    <div class="form-group">
      <!-- attributes for, name -->
      <label for="name">Name</label>  
      <input name="name" type="text" class="form-control" id="" placeholder="Enter your name" value="<%= user.name %>">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" value="<%= user.email %>">
    </div>

    <div>
      <div class="form-check-inline">
        <label for="gender" class="form-check-label">Gender:</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" <%= user.gender == 'Female' ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
    </div>

    <div>
      <div class="form-check-inline">
        <label for="status" class="form-check-label">Status:</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="inlineRadio3" value="Active" <%= user.status == 'Active' ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineRadio3">Active</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="inlineRadio4" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %>>
        <label class="form-check-label" for="inlineRadio4">Inactive</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block btnSave">Save</button>
  </form>
</div>

<!-- END CREATE NEW USER -->

<!-- FOOTER -->
<%- include('./footer.ejs'); -%>
<!-- END FOOTER -->

<!-- Import something-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />


<script>

  // nothing 
  function update_user_done () {
    alert("Update user successfully!")
  }
</script>